/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

#main-content {
	padding: 60px 150px 60px 150px;
}

footer {
	padding: 0;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 36px;
}

.custom-search-bar {
	border: #3f4f4f;
	box-shadow: 10px 10px #3f4f4f;
}

.notes-bar {
	border: #3f4f4f;
	box-shadow: 10px 10px #3f4f4f;
}

.create-button {
	border: #3f4f4f;
	box-shadow: 10px 10px #3f4f4f;
	border: 1px solid #3f4f4f;
	color: #3f4f4f;
	font-weight: bold;
}

.notes-card {
	border: #3f4f4f;
	box-shadow: 10px 10px #3f4f4f;
	border: 1px solid #3f4f4f;
}

.delete-notes-button {
	box-shadow: 10px 10px #3f4f4f;
	border: 2px solid #3f4f4f;
	background-color: red;
	color: white;
	font-weight: bold;
}

.archive-notes-button {
	box-shadow: 10px 10px #3f4f4f;
	border: 2px solid #3f4f4f;
	background-color: #3f4f4f;
	color: white;
	font-weight: bold;
}

.custom-search-button {
	border: 1px solid #3f4f4f;
}
#Footer-section {
	background-color: #3f4f4f;
}
.footer-page {
	background-color: #3f4f4f;
	color: white;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 18px;
	}
	body {
		padding: 0px;
	}
	#main-content {
		padding: 20px;
	}
	/* #Footer {
		padding: 20px;
	} */
	.container {
		padding: 10px;
	}
	#notes-card-list {
		padding: 20px;
	}

	#notes-title-text {
		font-size: 28px;
	}
	#notesItemList {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}
